.profile-box {
  width: 80%;
  max-width: 700px;
  margin: 100px auto;
  text-align: center;
  padding: 40px;
  background: rgba(0, 0, 0, 0.4);
  border: 3px solid #00f0ff;
  border-radius: 15px;
  box-shadow: 0 0 40px #00f0ff, 0 0 80px #ff00ff;
}

/* IMAGE */
.profile-img img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 4px solid #00f0ff;
  box-shadow: 0 0 20px #00f0ff, 0 0 40px #ff00ff;
  margin-bottom: 20px;
}

/* QUOTE */
.quote {
  color: #fff;
  font-size: 0.8rem;
  margin-bottom: 25px;
  text-shadow: 0 0 10px #fff;
  line-height: 1.6;
}

/* NAME */
.name {
  font-size: 1.7rem;
  color: #00f0ff;
  text-shadow: 0 0 10px #00f0ff;
  margin-bottom: 10px;
}

.subtitle {
  color: #fff;
  font-size: 0.9rem;
  margin-bottom: 30px;
}

/* STATS */
.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.stat h2 {
  font-size: 1.6rem;
  color: #00f0ff;
  text-shadow: 0 0 10px #00f0ff;
}

.stat p {
  font-size: 0.8rem;
}
